body{
    margin: 0;
    font-size: 0;
}
#container{
    height: 100vh;
    width: 100vw;
    font-size: 4vmin;
    font-family: Calibri;
}


#headArea {
    height: 15%;
    text-align: center;
    line-height: 15vh;
    background-color: darkslategray;
}
#headText{
    margin: 0;
    font-family: Calibri;
    font-size: 10vmin;
    color: aliceblue;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}


#mainArea{
    height: 85%;
    background-color: lightgrey;
}
#calculatorBase {
    border: 2px solid black;
    height: 85%;
    width: 25%;
    position: relative;
    top: 50%;
    left: 50%;
    border-radius: 5%;
    transform: translate(-50%, -50%);
    background-color: lightslategrey;
    box-shadow: 2px 2px 10px;
}
#displayHead{
    position: relative;
    height: 25%;
    width: 100%;
}
#displayBar{
    margin: 0 5%;
    top: 15%;
    position: relative;
    height: 75%;
    width: 90%;
    background-color: lightsteelblue;
    text-justify: auto;
    text-align: right;
    font-size: 10vmin;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid black;
}
#leftSide{
    height: 75%;
    width: 70%;
    position: relative;
    display: inline-block;
}
#clearArea{
    width: 100%;
    height: 20%;
    margin-left: 6%;
}
.clear{
    height: 80%;
    width: 45%;
    background-color: #e3e3e3;
}
#numberArea{
    height: 80%;
    width: 100%;
    margin-left: 6%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.numbers button{
    width: 30%;
    height: 20%;
    background-color: aliceblue;
}
#rightSide{
    display: inline-flex;
    flex-direction: column;
    height: 75%;
    width: 25%;
    vertical-align: top;
    justify-content: space-around;
    align-items: flex-end;
}
.operators button{
    width: 80%;
    height: 15%;
    background-color: palevioletred;
}
#addition{
    height: 35%;
}